services:
  redis:
    image: docker.arvancloud.ir/redis:7-alpine
    volumes:
      - redis_data:/data

  postgres:
    image: docker.arvancloud.ir/postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
    depends_on:
      - redis
      - postgres

  frontend:
    build:
      context: ./frontend

    env_file:
      - ./frontend/.env

volumes:
  redis_data:
  postgres_data:
