services:
  redis:
    image: docker.arvancloud.ir/redis:7-alpine
    volumes:
      - redis_data:/data

  postgres:
    image: docker.arvancloud.ir/postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
    depends_on:
      - redis
      - postgres

  frontend:
    build:
      context: ./frontend

    env_file:
      - ./frontend/.env

  bot:
    restart: always
    environment: 
      - TELEGRAM_BOT_TOKEN="8216355265:AAE-pACZIbAU2BrO63zclK584low7w-ZGmE"
      - WEB_APP_URL="https://parallax-airdrop.xyz"

volumes:
  redis_data:
  postgres_data:
