@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Fix for Telegram's variable height issues */
  --tg-viewport-height: 100vh;
  --tg-viewport-stable-height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; /* Force full height */
  overflow: hidden; /* DISABLE SCROLLING */
  touch-action: none; /* Disable zoom and standard touch gestures */
  background-color: transparent;
  user-select: none; /* Disable text selection */
  -webkit-user-select: none;
}

#root {
  width: 100%;
  height: 100%;
}

/* Helper for safe areas */
.pt-safe-top {
  padding-top: env(safe-area-inset-top);
}
.pb-safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

/* src/index.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
